<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969173641569-2nosrot6je5eurcnq5vmhd5a1lfhmpdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969173641569-2nosrot6je5eurcnq5vmhd5a1lfhmpdp</string>
	<key>API_KEY</key>
	<string>AIzaSyCxdvx8kI7zTnSFSyYi6BVoMEH-acGgxjM</string>
	<key>GCM_SENDER_ID</key>
	<string>969173641569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleui</string>
	<key>PROJECT_ID</key>
	<string>graduation-project-ffc98</string>
	<key>STORAGE_BUCKET</key>
	<string>graduation-project-ffc98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969173641569:ios:677a1b463b5ca3d841fd20</string>
</dict>
</plist>